@charset "utf-8";

nav{
text-align: center;
}
nav ul{
margin: 0 ;
padding: 0 ;
}
nav ul li{
list-style: none;
display: inline-block;
width: 18%;
min-width: 90px;
}
nav ul li a{
text-decoration: none;
color: #333;
}
nav ul li.current a{
color: #F33135;
}
nav ul li a:hover{
color: #E7DA66;
font-size: 15px;
font-weight: bold;
}
body {
    margin: 0;
}
div#wrapper {
    border: solid 1px;
    height: 500px;
    width: 95%;
    margin: 0 auto;
}
header {
    height: 149px;
    border: solid 1px red;
}
h1 {
    border: solid 1px;
    margin-top: 16px;
    margin-bottom: 8px;
    text-align: center;
}
#menu {
    display: flex;
}
#menu a{
    width: 100%;
    display: block;
}
a {
    text-decoration: none;
    width: 17%;
    display: block;
    font-size: 12px;
    text-align: center;
}
img {
    float: left;
    width: 100%;
}
#main img {
    width: 200px;
}
div#main {
    /*border: solid 1px;*/
}
div#profile {
    border: solid 1px red;
    margin-bottom: 30px;
    padding: 100px;
    /*height: 815px;*/
}
div#profileimage {
    width: 20%;
}
div#dream {
    border: solid 1px blue;
    /*height: 815px;*/
}
div#dreamimage {
    width: 18%;
}
div#skill {
    border: solid 1px red;
    /*height: 815px;*/
}
div#skillimage {
    width: 25%;
}
div#career {
    border: solid 1px blue;
    width: 100%;
    /*height: 815px;*/
}
div#careerimage {
    width: 25%;
}
div#Next {
    border: solid 1px green;
    /*height: 815px;*/
}
div#Nextimage {
    width: 25%;
}
div#Contact {
    text-align: center;
    border: solid 1px red;
    /*height: 815px;*/
}
#top {
    position: fixed;
    top: 500px;
    left: 630px;
    width: 305px;
}
#top a {
    padding: 12px;
    background-color: skyblue;
    display: block;
    height: 26px;
    padding-top: 18px;
    border: solid 3px blue;
    border-radius: 35px;
    font-size: 11px;
    font-weight: bold;
}