@charset "utf-8";

nav{
text-align: center;
}
nav ul{
margin: 0 ;
padding: 0 ;
}
nav ul li{
list-style: none;
display: inline-block;
width: 18%;
min-width: 90px;
}
nav ul li a{
text-decoration: none;
color: #333;
}
nav ul li.current a{
color: #F33135;
}
nav ul li a:hover{
color: #E7DA66;
font-size: 15px;
font-weight: bold;
}
body {
    margin: 0;
}
div#wrapper {
    /*border: solid 1px;*/
    height: 500px;
    width: 95%;
    margin: 0 auto;
}
header {
    height: 107px;
    /*border: solid 1px red;*/
}
h1 {
    font-family: serif;
    /*border: solid 1px;*/
    margin-top: 16px;
    margin-bottom: 13px;
    text-align: center;
}
#menu {
    /*background-color: #bda79f;*/
    display: flex;
}
#menu a {
    font-weight: bold;
    width: 100%;
    display: block;
}
a {
    text-decoration: none;
    width: 17%;
    display: block;
    font-size: 12px;
    text-align: center;
}
img {
    float: left;
    width: 100%;
}
#main img {
    width: 200px;
}
div#main {
    /*border: solid 1px;*/
}
div#profile {
    display: flex;
    /*border: solid 1px red;*/
    margin-bottom: 49px;
    padding: 30px;
    /* height: 815px; */
}
div#profileimage {
    width: 25%;
    
}
div.profilesentence {
    margin-left: 46px;
}
div#dream {
    /*border: solid 1px blue;*/
    padding: 30px;
    display: flex;
    /*height: 815px;*/
}
div#dreamimage {
    width: 25%;
    margin-right: 50px;
}
div#skill {
    /*border: solid 1px red;*/
    display: flex;
    padding: 30px;
    /*height: 815px;*/
}
div#skillimage {
    width: 25%;
    margin-right: 50px;
}
div#career {
    display: flex;
    /*border: solid 1px blue;*/
    /* width: 90%; */
    padding: 34px;
    margin: 1px;
    padding-right: 63px;
    /* height: 815px; */
}
div#careerimage {
    width: 48%;
    margin-right: 150px;
    /* display: flex; */
}
div#careerimage img {
    width: 98%;
}
div#Next {
    /*border: solid 1px green;*/
    display: flex;
    padding: 30px;
    /*height: 815px;*/
}
div#Nextimage {
    width: 20%;
    display: block;
    margin-right: 50px;
}
div#Nextimage img{
    width: 100%;
    
}
div.Nextsentence {
    margin-left: 112px;
}
div#Contact {
    text-align: center;
    /*border: solid 1px red;*/
    /*height: 815px;*/
}
#top {
    position: fixed;
    top: 500px;
    left: 630px;
    width: 305px;
}
#top a {
    padding: 12px;
    background-color: #d0be21;
    display: block;
    height: 26px;
    padding-top: 18px;
    border: solid 3px #002bffdb;
    border-radius: 35px;
    font-size: 11px;
    font-weight: bold;
}